/* common styles */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  color: #272727;
}
p {
  font-size: 16px;
  color: rgba(39, 39, 39, 0.60);
  line-height: 1.6;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-title {
  font-size: 64px;
}
.button {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 40px;
  border-radius: 5px;
}
.button-primary {
  color: #fff;
  background: #E55473;
}
.button-primary:hover {
  color: #fff;
  background: #f4365f;
}

/* Header styles */

header {
  height: 100vh;
  max-height: 750px;
  background: rgba(229, 84, 115, 0.10);
}
header .container {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
}
header .content {
  flex-basis: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.header-image {
  display: flex;
  align-items: flex-end;
}
.header-image img {
  width: 500px;
}